@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1160px;
    padding-right: 10px;
    padding-left: 10px;
}

body {
    background: #23263a;
    width: 100%;
}

nav {
    background-color: #1f2235;
    color: #fff;
    position: fixed;
    width: 100%;
    z-index: 999999999;
}

nav .navContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav a.logo img {
    width: 175px;
    user-select: none;
}

nav #menu ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav #menu ul li a {
    color: #fff;
    text-decoration: none;
    position: relative;
}

nav #menu ul li {
    margin: 0 2rem;
}

nav #menu ul li a::before {
    content: "";
    position: absolute;
    bottom: -5px;
    width: 0;
    border-radius: 10px;
    height: 1px;
    background-color: #fff;
    transition: .3s;
    transition-delay: .1s;
}

nav #menu ul li a:hover::before {
    width: 50%;
    transition-delay: 0s;
}

header .headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 250px;
}

header {
    color: #fff;
}

header .right img {
    width: 500px;
}

header .left {
    max-width: 600px;
}

header .personalInfo h1 {
    font-size: 3rem;
}

header .personalInfo p {
    margin-top: 2rem;
    font-size: 1rem;
    line-height: 1.8;
    color: #b8b8b8;
    font-weight: 500;
}

.socialIcons {
    margin-left: -20px;
}

.socialIcons ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin-top: 2rem;
}

.socialIcons ul li {
    margin: 0 1rem;
    position: relative;
}

.socialIcons ul li a {
    color: #fff;
    font-size: 1.3rem;
    width: 55px;
    height: 55px;
    border: 2px solid #5c9a9b;
    padding: 1rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    position: relative;
    z-index: 999;
}

.socialIcons ul li a::before {
    content: "";
    position: absolute;
    width: 55px;
    height: 55px;
    background-color: #5c9a9b;
    border-radius: 50%;
    z-index: -1;
    transform: scale(0);
    transition: transform .5s;
}

.socialIcons ul li a:hover::before {
    transform: scale(1);
    transition-delay: 0s;
}

.socialIcons ul li span.tooltip {
    background-color: #5c9a9b;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 20px);
    top: -50px;
    border-radius: 5px;
    padding: .4rem 1rem;
    transition: .3s;
    visibility: hidden;
    opacity: 0;
    font-size: .8em;
}

.socialIcons ul li span.tooltip::after {
    content: "";
    position: absolute;
    bottom: -9px;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #5c9a9b transparent transparent transparent;
}

.socialIcons ul li a:hover span.tooltip {
    transform: translate(-50%, 5px);
    visibility: visible;
    opacity: 1;
}

section#about {
    padding-top: 12rem;
    padding-bottom: 5rem;
}

section#about .aboutContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
}

section#about .aboutContainer .aboutTitle h1 {
    font-size: 2.2rem;
    text-align: center;
    margin-bottom: 2rem;
}

section#about .aboutContainer .aboutTitle p {
    text-align: center;
    width: 700px;
    line-height: 1.7;
}

section#about .aboutContainer .aboutItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 50px;
    margin-top: 50px;
}

section#about .aboutContainer .aboutItem .left img {
    width: 250px;
}

section#about .aboutContainer .aboutItem .right {
    max-width: 600px;
}

section#about .aboutContainer .aboutItem .right p {
    font-size: 1.1rem;
    line-height: 2;
    color: #d8d8d8;
    font-weight: 600;
}

section#contact {
    padding-top: 10rem;
    margin-bottom: 2rem;
    color: #fff;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.contactContainer .contactTitle {
    text-align: center;
}

.contactTitle h1 {
    font-size: 2rem;
}

.contactTitle * {
    margin-bottom: 1rem;
}

section#contact form {
    background-color: #4b5284;
    max-width: 850px;
    width: 100%;
    padding: 3rem 2rem;
    border-radius: 12px;
    margin-top: 2rem;
    text-align: center;
}

form code {
    color: red;
}

.formElement {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0 40px;
}


.formElement i.icon {
    color: #fff;
    position: absolute;
    left: 10px;
    font-size: 1.1rem;
    top: 50%;
    transform: translateY(-50%);
}

.contactContainer input {
    margin-bottom: 1.3rem;
    border: none;
    outline: none;
    color: #fff;
    background: #23263a;
    border-radius: 5px;
    width: 100%;
    padding: .4rem 2.1rem;
    font-size: 1.1rem;
    font-weight: 600;
    height: 40px;
}

.contactContainer span {
    color: #fff;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
}

.inputItem {
    position: relative;
}

.messageItem {
    position: relative;
}

.inputItem span {
    display: block;
    text-align: left;
    margin-bottom: .2rem;
}


.messageItem span {
    display: block;
    text-align: left;
    margin-bottom: .2rem;
}

.contactContainer input,
.contactContainer textarea {
    border-top: 1px solid rgba(193, 193, 193, .5) !important;
    transition: .3s;
}

.contactContainer textarea {
    background: #23263a;
    outline: none;
    border: none;
    color: #fff;
    padding: .4rem .4rem;
    font-weight: 600;
    font-size: 1.1rem;
    border-radius: 5px;
    resize: vertical;
    width: 300px;
}


.contactContainer input:valid,
.contactContainer textarea:valid {
    border-top: 2px solid rgb(0, 255, 55) !important;
}

.contactContainer input:valid+i.validok {
    visibility: visible;
    opacity: 1;
}


.contactContainer form button {
    background: #23263a;
    border: none;
    outline: none;
    width: 200px;
    padding: .6rem 1rem;
    margin-top: 2rem;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
}

section#bm {
    padding-top: 7rem;
}

.bmTitle {
    color: #fff;
    text-align: center;
}


.bmTitle h1 {
    font-size: 2.2rem;
    margin-bottom: 1.4rem;
}

.bmBody {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px 40px;
}

.bmItem {
    width: 300px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: .3s;
}


.bmItem img {
    width: 100%;
    border-radius: 5px;
    transition: .3s;
}

.bmItem:hover {
    transform: translateY(-15px);
}



/* Website Scrollbar */

::-webkit-scrollbar-track {
    background-color: #1a1a1a;
}


::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: aqua;
    border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(20, 184, 184);
}

@media screen and (max-width: 1400px) {
    @media screen and (min-width: 1200px) {}
}

@media screen and (max-width: 1200px) {
    @media screen and (min-width: 992px) {
        .headerContainer {
            padding-top: 150px!important;
            flex-wrap: wrap;
            justify-content: center;
            text-align: center;
        }

        .headerContainer .right {
            display: none;
        }

        .socialIcons ul {
            justify-content: center;
        }
    }
}

@media screen and (max-width: 992px) {
    @media screen and (min-width: 768px) {
        .headerContainer {
            padding-top: 200px!important;
            flex-wrap: wrap;
            justify-content: center;
            text-align: center;
        }

        .headerContainer .right {
            display: none;
        }

        .socialIcons ul {
            justify-content: center;
        }

        section#about {
            padding-top: 13rem;
        }

        .aboutContainer .aboutItem {
            flex-wrap: wrap;
            justify-content: center!important;
            text-align: center;
        }

        .aboutContainer .right {
            max-width: 650px!important;
        }

        .aboutContainer .right p {
            margin-top: 2rem;
        }

        .aboutContainer img {
            margin: 0 auto;
            margin-bottom: 1rem;
        }

        .aboutTitle p {
            max-width: 600px;
        }
    }
}

@media screen and (max-width: 768px) {
    @media screen and (min-width: 576px) {

        nav {
            background: none;
            position: static;
        }

        nav #menu {
            display: none;
        }

        nav .navContainer {
            justify-content: center;
        }

        nav #logo-box img {
            width: 100px;
        }

        .headerContainer {
            padding-top: 175px!important;
            flex-wrap: wrap;
            justify-content: center;
            text-align: center;
        }

        .headerContainer .right {
            display: none;
        }

        .socialIcons ul {
            justify-content: center;
        }

        section#about {
            padding-top: 13rem;
        }

        .aboutContainer .aboutItem {
            flex-wrap: wrap;
            justify-content: center!important;
            text-align: center;
        }

        .aboutContainer .right {
            max-width: 500px!important;
        }

        .aboutContainer .right p {
            margin-top: 2rem;
        }

        .aboutContainer img {
            margin: 0 auto;
            margin-bottom: 1rem;
        }

        .aboutTitle p {
            max-width: 450px;
        }
    }
}

@media screen and (max-width: 576px) {
    @media screen and (min-width: 0px) {
         nav {
            background: none;
            position: static;
        }

        nav #menu {
            display: none;
        }

        nav .navContainer {
            justify-content: center;
        }

        nav #logo-box img {
            width: 100px;
        }


        .headerContainer {
            padding-top: 100px!important;
            flex-wrap: wrap;
            justify-content: center;
            text-align: center;
        }

        .headerContainer .right {
            display: none;
        }

        .socialIcons ul {
            justify-content: center;
        }

        section#about {
            padding-top: 13rem;
        }

        .aboutContainer .aboutItem {
            flex-wrap: wrap;
            justify-content: center!important;
            text-align: center;
        }

        .aboutContainer .right {
            max-width: 350px!important;
        }

        .aboutContainer .right p {
            margin-top: 2rem;
        }

        .aboutContainer img {
            margin: 0 auto;
            margin-bottom: 1rem;
        }

        .aboutTitle p {
            max-width: 300px;
        }
    }
}



/*
  
  I was born in Istanbul in 2006 and grew up here. I spent my primary and secondary school years at the "Türk-İsveç" school. During this time, I became interested in web design. I tried to find out by doing some research. After graduating from secondary school, I go to high school at the school "AVZDAL" (grade 10). I am currently improving myself.
  
  */